{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "lato", sans-serif;
  }

  .signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  .form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }

  .title {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }

  .input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }


  .label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }

  ::placeholder {
    color: transparent;
  }

  .submitBtn {
    display: block;
    padding: 15px 30px;
    border: none;
    background-color: #0A5DD6;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    margin: auto;
  }

  .submitBtn:hover {
    background-color: blue;
    transform: translateY(-2px);
  }

  .input:focus+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #0A5DD6;
  }

  .input:not(:placeholder-shown)+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }

  .input:focus {
    border: 2px solid #0A5DD6;
  }

  .title {
    color: #0A5DD6;
    margin-left: 30px;
  }

  body {
    background-image: url("https://images-ext-2.discordapp.net/external/V72PrTUyrORkVzX0vm3PBIdpXgYoKI3tsqDEqcYM8oM/%3Fauto%3Dcompress%26cs%3Dtinysrgb%26dpr%3D2%26h%3D650%26w%3D940/https/images.pexels.com/photos/1054218/pexels-photo-1054218.jpeg?width=720&height=480");
    background-repeat: no-repeat;
    background-size: cover;

  }
</style>


<div class="signupFrm">
  <div class="wrapper">
    <form method="POST" class="form">
      <h1 class="title">Đăng nhập</h1>

      <div class="inputContainer">
        <input name="email" id="email" type="text" class="input" placeholder="a">
        <label for="" class="label">Email</label>
      </div>

      <div class="inputContainer">
        <input name="password" id="password1" type="text" class="input" placeholder="a">
        <label for="" class="label">Password</label>
      </div>

      <input type="submit" class="submitBtn" value="Đăng Nhập">
    </form>
  </div>
</div>
{% endblock %}